* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    max-width: 1100px;
    margin: auto;
}

img {
    width: 100%;
    position: relative;
    height: 70vh;
    object-fit: cover;
}
.nav-bar{
    background: rgb(170, 170, 170);
    position: relative;
    overflow: auto;
}

li {
    display: inline-block;
    padding: 1.5rem;
   
}

li:hover {
    background: rgb(50, 50, 134);
}

a {
    text-decoration: none;
    color: #fff;
}

.nav-bar ul {
    float: right;
    list-style: none;
}

.nav-bar h2 {
    display: inline-block;
    padding: 1rem;
}

.showcase .showcase-text {
    position: absolute;
    top: 30%;
    left: 10%;
    right: 10%;
    text-align: center;
    padding: 4rem;

}

.showcase .showcase-text::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    opacity: 0.7;
    z-index: 0;
}
 .showcase-text h1,
 .showcase-text h2 {
    padding-bottom: 1rem;
 }

 .showcase .showcase-text .container >* {
     position: relative;
     z-index: 1;
 }

